* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  opacity: 20%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dec4ac;
  background: #13284a;
}
body::after {
  /*content: "";*/
  position: absolute;
  height: 100%;
  width: 100%;
  /* these two to put a faded colour onto an image background - second sends it behind the text.
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;*/
}
.breath-input {
  color: #dec4ac;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 30px;
}

.input label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.input select {
  border: none;
  border-radius: 3px;
  min-width: 300px;
  height: 50px;
  font-size: 16px;
  padding: 8px 4px;
  border: solid 0.1px #dec4ac;
  background-color: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

.input select:focus {
  outline: none;
}

.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.circle-outline {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 15px solid #13284a;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.circle-progress {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #13284a;
  border-radius: 50%;
  transition: 4s ease all;
}

.circle-grow {
  transform: scale(5.3);
}

.breaths {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.instructions {
  text-align: center;
  margin-bottom: 32px;
}

button {
  padding: 40px 60px;
  border-radius: 3px;
  border: solid 1px #416ca9;
  background-color: transparent;
  color: #13284a;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

button:hover {
  background: #dec4ac;
  color: #13284a;
}

.button-inactive {
  pointer-events: none;
  background-color: #13284a;
  color: #dec4ac;
}
